#!/usr/sbin/nft -f

flush ruleset

table inet filter {
        chain input {
                type filter hook input priority 0; policy drop;
                iifname lo accept
                ip saddr {{ wireguard_subnet }} accept
                ct state established,related accept
                tcp dport 22 accept
                upd dport {{ wireguard_port }} accept
                {{ optional_rules }}
        }
        chain forward {
                type filter hook forward priority 0; policy drop;
        }
        chain output {
                type filter hook output priority 0;
        }
}